<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="My test suite">
	<test name="suiteTest">
		<groups>
			<run>
				<!-- <include name="suite1" /> -->
				<include name="suite1" />
				<!-- <include name="suite3" /> -->
			</run>
		</groups>
		<!-- <classes> <class name="org.sonatype.mavenbook.TestAddSub" /> <class 
			name="org.sonatype.mavenbook.TestMulDiv" /> </classes> -->

		<packages>
			<package name="com.globant.training" />
		</packages>
	</test>
</suite>